<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <title>Форма</title>
</head>
<body>
<h1 style="text-align:center;">Форма</h1>
<ul>
    <li>
        <a href="/">Главная</a></li>
    <li>
        <a href="/contacts/">Контакты</a></li>
</ul>
<form method="post">
    <input type="text" name="input filters" placeholder="Фильтры">
    <input type="text" name="input antifilters" placeholder="Исключающие фильтры">
    <input type="text" name="input pages" placeholder="Кол-во страниц">
    <button type="submit">Отправить</button>
</form>
</body>
</html>